<!-- Popup Modal for Assessment Details -->
<app-popup-module
  [isVisible]="isModalVisible"
  [modalTitle]="'Assessment Details'"
  (closeModalEvent)="closeModal()"
>
  <!-- Assessment Details Content -->
  <div class="p-4">
    <h3 class="text-lg font-semibold mb-2">Assessment Name: {{ selectedAssessment.assessmentName }}</h3>
    <p><strong>Assessment Type:</strong> {{ selectedAssessment.assessmentType }}</p>
    {{selectedAssessment.dateCreated |date}}
    
    <!-- Related Subjects and their Difficulties -->
    <div *ngIf="subjects.length > 0" class="mt-4">
      <h4 class="text-lg font-semibold">Related Subjects</h4>
      <table class="min-w-full mt-2 table-auto border-collapse border border-gray-200">
        <thead>
          <tr>
            <th class="border-b px-4 py-2">Subject Name</th>
            <th class="border-b px-4 py-2">Easy</th>
            <th class="border-b px-4 py-2">Medium</th>
            <th class="border-b px-4 py-2">Hard</th>
          </tr>
        </thead>
        <tbody>
          <!-- Loop through subjects and display subject name and difficulty -->
          <tr *ngFor="let subject of subjects">
            <td class="border-b px-4 py-2">{{ subject.subjectName }}</td>
            <td class="border-b px-4 py-2">{{ subject.easy }}</td>
            <td class="border-b px-4 py-2">{{ subject.medium }}</td>
            <td class="border-b px-4 py-2">{{ subject.hard }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</app-popup-module>


<!-- Table displaying assessments -->
<app-table
  [tableName]="tableName"
  [tableColumns]="tableColumns"
  [tableData]="assessments"
  [columnAliases]="columnAliases"
  [searchQuery]="searchQuery"
  [searchPlaceholder]="searchPlaceholder"
  [onSearchQueryChange]="onSearchQueryChange.bind(this)"
  [buttons]="buttons"
  [tabs]="['all', 'internal', 'external']"
  [filterKey]="'assessmentType'"
  [tabAliases]="{ 'internal': 'Internal Assessments', 'external': 'External Assessments', 'all': 'All' }"
>
</app-table>
