<!-- <p>dashboard</p> <button type="button" class="btn btn-info" (click)="logout()">Logout</button>
<button type="button" class="btn btn-info" (click)="addSubject()">Add subject</button>
<button type="button" class="btn btn-info" (click)="getSubject()">get subject</button> -->

    <!-- Pass tableColumns and subjects to the TableComponent -->
     <h1>hii</h1>
     <app-table 
     [tableName]="tableName"  
     [tableColumns]="tableColumns" 
     [tableData]="assessments" 
     [columnAliases]="columnAliases">
   </app-table>
   
  