.custom-button {
    background-color:#003e7e;
    color: #ffffff; 
    padding: 0.5rem 1rem; 
    border-radius: 0.375rem; 
    width: 150px; 
    display: inline-block; 
    text-align: center; 
  }
  