<div class="bg-white rounded-xl shadow-lg p-6">
  <div class="flex justify-between items-start mb-6">
    <h2 class="text-xl">
      <span class="text-gray-600">Question {{ questionNumber }} of {{ totalQuestions }}:</span>
      <span class="ml-2 font-medium">{{ question.questionText }}</span>
    </h2>
    <button 
      (click)="onReviewToggle()"
      class="px-6 py-2 rounded-full text-white text-sm"
      [class.bg-yellow-400]="question.isMarkedForReview"
      [class.bg-blue-500]="!question.isMarkedForReview">
      Mark for Review
    </button>
  </div>

  <div class="space-y-4">
    <ng-container [ngSwitch]="question.questionType">
      <ng-container *ngSwitchCase="'Single'">
        <div 
          *ngFor="let option of options"
          (click)="onAnswerSelect(option.optionId)"
          class="flex items-center p-4 bg-white rounded-lg border cursor-pointer transition-colors"
          [class.border-blue-500]="isOptionSelected(option.optionId)">
          <input 
            type="radio" 
            [id]="'option' + option.optionId" 
            [name]="'question' + question.questionId" 
            [value]="option.optionId" 
            [checked]="isOptionSelected(option.optionId)"
            class="h-4 w-4 text-blue-600 focus:ring-blue-500">
          <label [for]="'option' + option.optionId" class="ml-3 cursor-pointer">
            {{ option.optionText }}
          </label>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'Multi'">
        <div 
          *ngFor="let option of options"
          (click)="onAnswerSelect(option.optionId)"
          class="flex items-center p-4 bg-white rounded-lg border cursor-pointer transition-colors"
          [class.border-blue-500]="isOptionSelected(option.optionId)">
          <input 
            type="checkbox" 
            [id]="'option' + option.optionId" 
            [name]="'question' + question.questionId" 
            [value]="option.optionId" 
            [checked]="isOptionSelected(option.optionId)"
            class="h-4 w-4 text-blue-600 focus:ring-blue-500">
          <label [for]="'option' + option.optionId" class="ml-3 cursor-pointer">
            {{ option.optionText }}
          </label>
        </div>
      </ng-container>

      <ng-container *ngSwitchCase="'Descriptive'">
        <textarea
          [(ngModel)]="question.descriptiveAnswer"
          (ngModelChange)="onDescriptiveAnswerChange($event)"
          rows="6"
          class="w-full p-4 border rounded-lg focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
          placeholder="Type your answer here...">
        </textarea>
      </ng-container>
    </ng-container>
  </div>
</div>