@if(isVisible) {
  <div class="w-auto max-w-full fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <!-- Modal container -->
    <div [ngClass]="containerClass" class="inline-block w-auto max-w-lg p-4 bg-white rounded-md shadow-lg">
    
      <!-- Modal Header (Title) -->
      <div [ngClass]="headerClass">
        <ng-content select="[modalTitle]">
          <!-- Default title if not provided -->
          @if(!hasProjectedModalTitle()) {
          <ng-container>
            <h2>{{ modalTitle || 'Default Modal Title' }}</h2>
          </ng-container>
          }
        </ng-content>
        <!-- Close Button -->
        <button type="button" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 text-2xl" (click)="closeModal()">
          &times;
        </button>
      </div>
  
      <!-- Modal Body for generic content-->
      <div [ngClass]="bodyClass">
        <ng-content></ng-content>  
      </div>
    </div>
  </div>
  }
  