@if(isVisible){
  <div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50 z-50">
    <!-- Modal container -->
    <div [ngClass]="containerClass">
    
      <!-- Modal Header (Title) -->
      <div [ngClass]="headerClass">
        <ng-content select="[modalTitle]">
          <!-- Default title if not provided -->
           @if(!hasProjectedModalTitle()){
          <ng-container>
            <h2 >{{ modalTitle || 'Default Modal Title' }}</h2>
          </ng-container>
        }
        </ng-content>
        <!-- Close Button -->
        <button type="button" class="absolute top-4 right-4 text-gray-500 hover:text-gray-700 text-2xl" (click)="closeModal()">
          &times;
        </button>
      </div>
  
      <!-- Modal Body for generic content-->
      <div [ngClass]="bodyClass">
        <ng-content></ng-content>  
      </div>
    </div>
  </div>
  }