<h1 class="text-center text-4xl font-semibold text-indigo-700 mb-8">
  Assessment List
</h1>

<!-- Search Bar -->
<div class="mb-8 max-w-3xl mx-auto px-4">
  <!-- Search Bar with custom placeholder for generate link -->
  <app-searchbar [placeholder]="'Search assessments...'" (searchQueryChange)="onSearchQueryChange($event)">
  </app-searchbar>

</div>

<!-- Assessment Cards -->
<div class="space-y-8 px-4 max-w-3xl mx-auto">
  @for(assessment of filteredAssessments; track assessment.assessmentId) {
  <div
    class="bg-white border border-gray-200 rounded-lg p-6 shadow-md hover:shadow-lg transition-all transform hover:scale-105 duration-300 mb-4">
    <div class="flex justify-between items-center mb-4">
      <p class="text-lg font-medium text-gray-800">
        {{ assessment.assessmentText }}
      </p>
      <button (click)="openModal(generateLink(assessment.assessmentId), assessment.assessmentType)"
        class="bg-indigo-500 text-white px-6 py-2 rounded-full text-sm font-medium hover:bg-indigo-600 active:scale-95 transition-transform duration-150">
        Generate Link
      </button>
    </div>
  </div>
  }
</div>

<!-- Modal Component -->
<app-modal [link]="selectedLink" [isVisible]="isModalVisible" [assessmentType]="assessmentType"
  (closeModalEvent)="closeModal()"></app-modal>