 <!-- Modal Title
 <h5 class="text-2xl font-semibold text-gray-800 mb-6 text-center">
  List of {{ assessmentType === 'external' ? 'Candidates' : 'Employees' }}
</h5> -->

<!-- Search Bar Component -->
<app-searchbar [placeholder]="'Search names...'" (searchQueryChange)="onSearchQueryChange($event)"
[class]=" 'block w-full px-4 py-2 mb-6 border border-gray-300 rounded-full text-base shadow-md outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-300' ">
</app-searchbar>
    

    <app-button [label]="'Send'" [class]="'bg-indigo-500 text-white px-6 py-2 rounded-full text-sm font-medium hover:bg-indigo-600 focus:outline-none'"></app-button>
