.link_copy{
    position: fixed;
    top: 20px;
    left: 50%;
    margin: auto;
    background-color: #003e7e;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1rem;
    z-index: 1000;
}