<!-- Search Bar Section -->
<div class="flex justify-center w-full">
  <app-searchbar
    [searchQuery]="searchQuery"
    [class]="
      'block w-[50vw] px-4 py-2 mb-2 border border-gray-300 rounded-full text-lg shadow-md outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-300 transition-all duration-100 transform'
    "
    [placeholder]="searchPlaceholder"
    [searchQuery]="searchQuery"
    (searchQueryChange)="onSearchQueryChange($event)"
  >
  </app-searchbar>
</div>

<!-- Dynamic Tabs Section -->
@if(tabs.length > 0){
<div class="flex justify-center">
  <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
    <div class="block w-full overflow-hidden md:w-max">
      <nav>
        <ul
          role="tablist"
          class="relative flex flex-row p-1 rounded-lg bg-blue-gray-50 bg-opacity-60"
        >
          @for(tab of tabs; track tab){
          <li
            class="relative inline-flex items-center justify-center px-4 py-1 font-sans text-base antialiased font-normal leading-relaxed text-center bg-transparent cursor-pointer select-none text-blue-gray-900"
            [class.bg-white]="activeTab === tab"
            (click)="selectTab(tab)"
          >
            <div class="z-20 text-inherit">
              &nbsp;&nbsp;{{ tabAliases[tab] || tab }}&nbsp;&nbsp;
            </div>
            @if(activeTab === tab){
            <div
              class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"
            ></div>
            }
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
}

<!-- Table Section -->
<div
  class="relative flex flex-col w-full text-gray-700 bg-white shadow-md rounded-xl bg-clip-border overflow-y-auto"
>
  <div
    class="relative mx-4 overflow-hidden text-gray-700 bg-white rounded-none bg-clip-border"
  >
    <div class="flex items-center justify-between gap-8">
      <div class="flex flex-col gap-2 shrink-0 sm:flex-row"></div>
    </div>
    <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
      <div class="block w-full overflow-hidden md:w-max"></div>
    </div>
  </div>

  <div class="p-6 px-0">
    <table class="w-full text-left table-auto min-w-max">
      <thead>
        <tr
          class="grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] text-center gap-4 border-blue-gray-100 bg-blue-gray-50/50 border-y"
        >
          @for(column of tableColumns; track column){
          <th class="p-4 text-2xl  text-left">
            @for(alias of getColumnAliases(column); track alias){
            <ng-container>
              <div>{{ alias }}</div>
            </ng-container>
            }
          </th>
          }
          <th class="p-4 text-2xl text-right ">Action</th>
        </tr>
      </thead>

      <tbody class="overflow-y-auto max-h-96">
        @if(filteredData.length > 0){ @for(row of getPaginatedData(); track
        row){
        <tr
          class="grid grid-cols-[repeat(auto-fit,minmax(150px,1fr))] text-center gap-4"
        >
          @for(column of tableColumns; track column){
          <td class="p-4 border-b border-blue-gray-50">
            <p
              class="block font-sans text-sm antialiased font-normal leading-normal text-blue-gray-900"
            >
              {{ row[column] | titlecase }}
            </p>
          </td>
          }
          <td class="p-4 border-b border-blue-gray-50">
            <div class="flex justify-center gap-4">
              @for(button of buttons; track button){
              <app-button
                [label]="button.label"
                [colorClass]="button.colorClass"
                (action)="button.action(row)"
              >
              </app-button>
              }
            </div>
          </td>
        </tr>
        } }
      </tbody>
    </table>

    <!-- Pagination Section -->
    @if(filteredData.length > 0){
    <div
      class="flex justify-center items-center gap-2 p-4 border-t border-blue-gray-50"
    >
      <button
        (click)="previousPage()"
        class="select-none rounded-lg border py-2 px-4"
        [disabled]="currentPage <= 1"
        [class.bg-gray-400]="currentPage <= 1"
        [class.cursor-not-allowed]="currentPage <= 1"
      >
        Previous
      </button>
      <div class="flex gap-2">
        @for(page of pageNumbers; track page){
        <button
          (click)="goToPage(page)"
          class="select-none rounded-lg border py-2 px-4"
          [class.bg-blue-500]="currentPage === page"
          [class.text-white]="currentPage === page"
        >
          {{ page }}
        </button>
        }
      </div>
      <button
        (click)="nextPage()"
        class="select-none rounded-lg border py-2 px-4"
        [disabled]="currentPage >= totalPages"
        [class.bg-gray-400]="currentPage >= totalPages"
        [class.cursor-not-allowed]="currentPage >= totalPages"
      >
        Next
      </button>
    </div>
    }

    <!-- Page Info Section -->
    @if(filteredData.length > 0){
    <div class="flex justify-center mt-">
      <p>Page {{ currentPage }} of {{ totalPages }}</p>
    </div>
    }

    <!-- No Data Found Section -->
    @if(filteredData.length === 0){
    <div class="flex justify-center mt-4">
      <div class="loader"></div>
    </div>
    } @else if(filteredData.length === 0){
    <div class="flex justify-center mt-4 text-gray-500">
      <p>No data found</p>
    </div>
    }
  </div>
</div>
