<!-- Search Bar Section -->
<div class="flex justify-center w-full">
  <app-searchbar
    [searchQuery]="searchQuery"
    [class]="
      'block w-[50vw] px-4 py-2 mb-2 border border-gray-300 rounded-full text-lg shadow-md outline-none focus:border-indigo-500 focus:ring-2 focus:ring-indigo-300 transition-all duration-100 transform'
    "
    [placeholder]="searchPlaceholder"
    (searchQueryChange)="onSearchQueryChange($event)"
  >
  </app-searchbar>
</div>

<!-- Dynamic Tabs Section -->
@if(tabs.length > 0){
<div class="flex justify-center">
  <div class="flex flex-col items-center justify-between gap-4 md:flex-row">
    <div class="block w-full overflow-hidden md:w-max">
      <nav>
        <ul
          role="tablist"
          class="relative flex flex-row p-1 rounded-lg bg-blue-gray-50 bg-opacity-60"
        >
          @for(tab of tabs; track tab){
          <li
            class="relative inline-flex items-center justify-center px-4 mt-2 py-1 font-sans text-base antialiased font-normal leading-relaxed text-center bg-transparent cursor-pointer select-none text-blue-gray-900"
            [class.bg-white]="activeTab === tab"
            (click)="selectTab(tab)"
          >
            <div class="z-20 text-inherit">
              {{ tabAliases[tab] || tab }}
            </div>
            @if(activeTab === tab){
            <div
              class="absolute inset-0 z-10 h-full bg-white rounded-md shadow"
            ></div>
            }
          </li>
          }
        </ul>
      </nav>
    </div>
  </div>
</div>
}

<!-- Additional Filters Section (Conditionally Displayed for assessmentRecords) -->
@if(showAdditionalFilters) {
<div
  class="flex flex-wrap justify-center sm:flex-nowrap items-center gap-4 sm:gap-6 mb-2 sm:mb-8"
>
  <!-- Dropdown for Filters -->
  <div class="w-full sm:w-auto">
    <label for="filter" class="block text-sm font-medium text-gray-700 mb-1">
      Filter by:
    </label>
    <select
      id="filter"
      name="filter"
      [(ngModel)]="selectedFilter"
      (change)="onFilterChange()"
      class="w-full px-4 py-2 border rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-700"
    >
      <option value="">All</option>
      @for (filter of filterOptions; track $index) {
      <option [value]="filter">
        {{ filter | camelCaseToSpace | titlecase }}
      </option>
      }
    </select>
  </div>

  <!-- Dropdown for Status -->
  <div class="w-full sm:w-auto">
    <label for="status" class="block text-sm font-medium text-gray-700 mb-1">
      Status:
    </label>
    <select
      id="status"
      name="status"
      [(ngModel)]="selectedStatus"
      (change)="onStatusChange()"
      class="w-full px-4 py-2 border rounded-lg shadow focus:outline-none focus:ring-2 focus:ring-blue-500 text-gray-700"
    >
      <option value="">All</option>
      @for (status of statusOptions; track $index) {
      <option [value]="status">
        {{ status }}
      </option>
      }
    </select>
  </div>
</div>
}

<!-- Table Section -->
<div class="min-h-screen p-1 sm:p-8">
  <div class="bg-white shadow-xl min-h-screen rounded-xl p-6 sm:p-8">
    <div class="overflow-x-auto min-h-screen">
      <table
        class="min-w-full bg-white border border-gray-300 rounded-lg text-sm sm:text-base"
      >
        <thead class="bg-custom-blue">
          <tr>
            @for(column of tableColumns; track column){
            <th
              class="px-2 sm:px-6 py-3 text-left text-white font-semibold border-b"
            >
              {{ getColumnAliases(column)[0] || column }}
            </th>
            }
            <th
              class="px-4 sm:px-6 py-3 text-center text-white font-semibold border-b"
              [style.width]="getActionColumnWidth()"
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          @if(filteredData.length > 0){ @for(row of getPaginatedData(); track
          row){
          <tr class="even:bg-gray-50">
            @for(column of tableColumns; track column){
            <td class="px-2 sm:px-6 py-3 border-b">
              <p
                class="text-blue-gray-900"
                [ngClass]="
                  column === 'status' ? getStatusClass(row[column]) : ''
                "
                (click)="
                  column === 'url' ? copyToClipboard(row[column], row) : null
                "
                style="cursor: pointer"
              >
                <!-- {{
                  row[column]?.length > 50
                    ? (row[column] | titlecase | slice : 0 : 15) + "..."
                    : (row[column] | titlecase)
                }} -->
                {{
                  row[column]?.length > 50
                    ? (row[column]
                        | textCase : columnConfig[column]
                        | slice : 0 : 15) + "..."
                    : (row[column] | textCase : columnConfig[column])
                }}
              </p>
              <!-- Popup Notification -->
              @if (showAdditionalFilters && isPopupVisible && column === 'url'
              && copiedRow===row) {
              <div class="link_copy">Link copied!</div>
              }
            </td>
            }
            <td class="px-2 sm:px-6 py-3 border-b">
              <div class="flex justify-center gap-3">
                @for(button of buttons; track button){
                <app-button
                  [label]="getButtonLabel(button, row)"
                  [colorClass]="getCustomButtonClasses(button, row)"
                  [icon]="button.icon"
                  [title]="button.title"
                  (action)="button.action(row)"
                  [disabled]="isButtonDisabled(button, row)"
                ></app-button>
                }
              </div>
            </td>
          </tr>
          } }
        </tbody>
      </table>

      <!-- No Data Found Section -->
      @if(isLoading){
      <div class="flex justify-center mt-4 top-0">
        <div class="loader"></div>
      </div>
      } @if(!isLoading && filteredData.length === 0){
      <div class="flex justify-center mt-4 top-0 text-gray-500">
        <b class="text-red-600">No data found</b>
      </div>
      }
    </div>

    <!-- Pagination Section -->
    @if(filteredData.length > 0){
    <div class="flex justify-center items-center gap-2 p-4 border-gray-300">
      <button
        (click)="previousPage()"
        class="select-none rounded-lg border py-2 px-4"
        [disabled]="currentPage <= 1"
        [class.bg-gray-400]="currentPage <= 1"
        [class.cursor-not-allowed]="currentPage <= 1"
      >
        Previous
      </button>
      <div class="flex gap-2">
        @for(page of pageNumbers; track page){
        <button
          (click)="goToPage(page)"
          class="select-none rounded-lg border py-2 px-4"
          [ngStyle]="
            currentPage === page
              ? { 'background-color': '#003e7e', color: 'white' }
              : {}
          "
        >
          {{ page }}
        </button>

        }
      </div>
      <button
        (click)="nextPage()"
        class="select-none rounded-lg border py-2 px-4"
        [disabled]="currentPage >= totalPages"
        [class.bg-gray-400]="currentPage >= totalPages"
        [class.cursor-not-allowed]="currentPage >= totalPages"
      >
        Next
      </button>
    </div>
    <div class="flex justify-center mt-4">
      <p>Page {{ currentPage }} of {{ totalPages }}</p>
    </div>
    }
  </div>
</div>
