<div class="vh-100 d-flex justify-content-center align-items-center">

    <div class="card shadow" style="width: 100%; max-width: 500px;">
      <div class="card-body">
        <form>
          <div class="mb-3 text-center">
            <h4 class="text-dark text-muted fw-bold">Login</h4>
          </div>
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label fw-bold text-muted form-text-size">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="email">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label fw-bold text-muted form-text-size">Password</label>
            <input type="password" class="form-control" name="password" [(ngModel)]="password">
          </div>
          <div class="d-flex justify-content-end">
            <button type="button" class="btn btn-info " style="width: 113px;" (click)="login()">Login</button>
          </div>
          <div class="row mt-3">
            <div class="col-md-6">
              <a href="/register" style="text-decoration: none;">Need Account? <span class="text-primary">Register</span></a>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>