.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    border-radius: 12px; 
    padding: 20px; 
  }
  
  .btn-info:hover {
    background-color: #2cbbd1; 
  }

  h4 {
    font-size: 1.8rem; 
    font-weight: 600;
  }
  
  .text-primary {
    color: #007bff !important;
  }
  
  .d-flex {
    align-items: center;
  }
  
  .form-text-size{
      font-size: 18px;
  }